[Unit]
Description=CEB-GNRD fan settings persistence
After=xyz.openbmc_project.EntityManager.service phosphor-pid-control.service
Wants=xyz.openbmc_project.EntityManager.service

[Service]
Type=notify
NotifyAccess=main
WatchdogSec=60
ExecStart=/usr/libexec/ceb-gnrd-fan-settings.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target